[run]
branch = True
cover_pylib = False
source=
    uredis

[report]
ignore_errors = True
show_missing = 1
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
omit=
    *psutil/*
    *redislite/*
    */redis/*
    *distutils/*
    *ctypes*
    *encodings/*
    *getopt.py*
    *stringprep.py*
    *uuid.py*
